<div [formGroup]="estudios">
    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Select an option</mat-label>
        <mat-select formControlName="nombre_estudio">
            <mat-option *ngFor="let item of estudiosProfesionales|async" [value]="item.ID_ESTUDIO"> {{ item.NOMBRE_ESTUDIO }} </mat-option>
        </mat-select>
        <mat-error *ngIf="estudios.controls.nombre_estudio.hasError('required') && estudios.controls.nombre_estudio.touched">
            Debe seleccionar alguna opción
        </mat-error>
    </mat-form-field>
</div>