<div [formGroup]="profesorForm">

    <!-- Impartición donde da clase -->
    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Seleccione un lugar de impartición de clase </mat-label>
        <mat-select formControlName="imparticion_clase">
            <mat-option *ngFor="let item of ImparticionClase|async" [value]="item.ID_LUGAR"> {{ item.LUGAR }} </mat-option>
        </mat-select>
        <mat-error *ngIf="profesorForm.controls.imparticion_clase.hasError('required') && profesorForm.controls.imparticion_clase.touched">
            Debe seleccionar algun lugar donde imparte clase
        </mat-error>
    </mat-form-field>

    <!-- Programa academico -->
    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Seleccione un programa académico </mat-label>
        <mat-select formControlName="programa_academico">
            <mat-option *ngFor="let item of ProgramaAcademico|async" [value]="item.ID_PROGRAMA"> {{ item.NOMBRE_PROGRAMA }} </mat-option>
        </mat-select>
        <mat-error *ngIf="profesorForm.controls.programa_academico.hasError('required') && profesorForm.controls.programa_academico.touched">
            Debe seleccionar un programa académico
        </mat-error>
    </mat-form-field>

    <!-- Departamento de adscripción -->
    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Seleccione algunos departamentos </mat-label>
        <mat-select formControlName="departamento_adscripcion" multiple>
            <mat-option *ngFor="let item of DepartamentoAdscripcion|async" [value]="item.ID_DEPARTAMENTO"> {{ item.NOMBRE_DEPARTAMENTO }} </mat-option>
        </mat-select>
        <mat-error *ngIf="profesorForm.controls.departamento_adscripcion.hasError('required') && profesorForm.controls.departamento_adscripcion.touched">
            Debe seleccionar por lo menos un departamento
        </mat-error>
    </mat-form-field>

</div>